<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1 class="header text-center">New Arrivals</h1>
    <div class="d-flex flex-row justify-content-center cardContainer">
      <% products.forEach(function(product) { %>
      <div class="card align-items-center text-center">
        <img src="<%= product.imagelink %>" class="cardPhoto" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= product.productname %></h5>
          <p class="cardDescription card-text"><%= product.productdesc %></p>
        </div>
        <div class="card-body">
          <form action="/product " method="get">
            <h6>$ <%= product.price %></h6>
            <button name="id" value="<%= product.id %>" class="btn btn-primary">
              Buy Now
            </button>
          </form>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
