<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <div
      id="productContainer"
      class="d-flex flex-row justify-content-center align-items-center"
    >
      <img class="productImage" src="<%= product.imagelink %>" alt="" />
      <div
        id="productBody"
        class="d-flex flex-column justify-content-center align-items-left"
      >
        <h1 class="header text-center"><%= product.productname %></h1>
        <div
          id="productPurchaseContainer"
          class="d-flex flex-row align-items-center"
        >
          <h3>$ <%= product.price %></h3>
          <form action="/add_to_cart" method="post">
            <button
              name="id"
              value="<%=product.id%>"
              class="atcBtn btn btn-primary"
            >
              Add to Cart
            </button>
          </form>
        </div>

        <p><%= product.productdesc %></p>
      </div>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>
